@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --lm-light-color: #fbfafe;
    --lm-dark-color: #054a91;
    --lm-accent-color: #f17300;
    --ff-body: 'Roboto Slab', serif;
    --ff-title: 'Roboto Condensed', sans-serif;
    --ff-subtitle: 'Poppins', sans-serif;
    --fs-body: 2em;
    --fs-title: 3em;
    --fs-subtitle-1: 1.25em;
    --fs-subtitle-2: 2em;
    --fs-subtitle-3: 1.5em;
    --fs-subtitle-4: 1.1em;
    --fs-very-small: 0.9em
}

* {
    box-sizing: border-box;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.about-overall-container {
    position: relative
}

.about-title-container {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding: 1% 0 1% 10%;
}

.about-content-container {
    background: rgba(4, 63, 145, 0.75);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(4, 63, 145, 0.375);
    padding: 1% 10% 1% 10%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about-with-design p {
    border-left: solid var(--lm-accent-color) 4px;
    margin-left: 5%;
    padding: 0.3em;
}

.about-core-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.core-values-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    width: 100%;
    margin: auto;
}

.core-values-title{
    width: 20%;
    margin: 1em;
    height: 10%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}