html {
    scroll-behavior: smooth;
}

:root {
    --lm-light-color: #fbfafe;
    --lm-dark-color: #054a91;
    --lm-accent-color: #f17300;
    --ff-body: 'Roboto Slab', serif;
    --ff-title: 'Roboto Condensed', sans-serif;
    --ff-subtitle: 'Poppins', sans-serif;
    --fs-body: 2em;
    --fs-title: 3em;
    --fs-subtitle-1: 1.25em;
    --fs-subtitle-2: 2em;
    --fs-subtitle-3: 1em;
    --fs-subtitle-4: 1.1em;
}

* {
    box-sizing: border-box;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.delete-overall-container {
    height: 100vh;
    width: 100%;
    background: rgba(4, 63, 145, 0.75);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(4, 63, 145, 0.375);
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-container{
    background-color: var(--lm-light-color);
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sure{
    color: var(--lm-accent-color);
    font-family: var(--ff-subtitle);
    font-size: var(--fs-subtitle-1);
}

.btn:hover{
    border: 1px solid red;
    background-color: pink;
}