:root {
    --lm-light-color: #fbfafe;
    --lm-dark-color: #054a91;
    --lm-accent-color: #f17300;
    --ff-body: 'Roboto Slab', serif;
    --ff-title: 'Roboto Condensed', sans-serif;
    --ff-subtitle: 'Poppins', sans-serif;
    --fs-body: 2em;
    --fs-title: 3em;
    --fs-subtitle-1: 1.25em;
    --fs-subtitle-2: 1em;
    --fs-subtitle-3: 1.5em;
    --fs-subtitle-4: 1.1em;
    --fs-very-small: 0.9em
} 

* {
    box-sizing: border-box;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}
/* 
@media(max-width: 600px) {

    .developers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    }

} */