:root {
    --lm-light-color: #fbfafe;
    --lm-dark-color: #054a91;
    --lm-accent-color: #f17300;
    --ff-body: 'Roboto Slab', serif;
    --ff-title: 'Roboto Condensed', sans-serif;
    --ff-subtitle: 'Poppins', sans-serif;
    --fs-body: 2em;
    --fs-title: 3em;
    --fs-subtitle-1: 1.25em;
    --fs-subtitle-2: 2em;
    --fs-subtitle-3: 1.5em;
    --fs-subtitle-4: 1.1em;
    --fs-very-small: 0.9em
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.hr-dp{
    width: 90%;
    border: 2px solid var(--lm-dark-color);
}
h3 {
    letter-spacing: 1px;
}

.all-forum {
    position: relative;
}


/* this is for the scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 100vw;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(var(--lm-accent-color), var(--lm-dark-color));
    opacity: 0.4;
    padding: 0.3em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--lm-light-color);
    border-radius: 100vw;
}

/* this is a global variable */
.darkblue {
    color: var(--lm-dark-color);
}

.light {
    color: var(--lm-light-color);
}

.title {
    font-family: var(--ff-title);
    font-size: var(--fs-title);
}

.subtitle-large {
    font-family: var(--ff-subtitle);
    font-size: var(--fs-subtitle-2);
}

.subtitle-small {
    font-family: var(--ff-subtitle);
    font-size: var(--fs-subtitle-4);
}

.body-paragraph {
    font-size: var(--fs-subtitle3);
    font-family: var(--ff-body);
    letter-spacing: 0.5px;  
    word-spacing: 0.05em;
}


.forum-font{
    font-family: var(--ff-subtitle);
    font-size: var(--fs-very-small);
    color: black;
}

.dp-big{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.hr-xl{
    border: 1px solid var(--lm-light-color);
    width: 90%;
    margin: 3em auto;
}

.discussion-profile{
    background-color: red;
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999999999999999999999999999999999999999;
    background-color: var(--lm-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    animation: rotate 1.5s ease-in infinite alternate;
 
  }
  .loader::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--lm-accent-color);
    background: currentColor;
    width: 64px;
    height: 32px;
    border-radius: 0 0 50px 50px;
  }
  .loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 10%;
    background: var(--lm-light-color);
    width: 8px;
    height: 64px;
    animation: rotate 1.2s linear infinite alternate-reverse;
  }
  
  @keyframes rotate {
    100% { transform: rotate(360deg)}
  }

  #loader.fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out;
}