{% extends 'main.html' %}

{%block content%}
<div class="about-overall-container">
    <div class="about-title-container">
        <h1 class="title darkblue">COLLEGE OF ENGINEERING</h1>
        <h2 class="title-small orange">ABOUT COLLEGE OF ENGINEERING</h2>
    </div>
    <div class="about-content-container">
        <div class="about-introduction">
            <h1 class="subtitle-large orange bold">College of Engineering History</h1>
            <div class="about-with-design">
                <p class="white subtitle-small">
                    The College of Engineering was first established as part of the Department of Technology and
                    Engineering (DTE) since Academic year 2012 under the leadership of Dr. Sigfredo C. Adajar. The
                    Department of Technology and Engineering is being divided into two colleges such as: College of
                    Engineering and College of Computer Studies and Technology in Academic Year 2020-2021. Currently the
                    department offers Bachelor of Science in Computer Engineering and is now under the leadership of
                    Engr. Solita M. Costales.
                </p>
            </div>

            <h1 class="subtitle-large orange bold">College Goals</h1>
            <div class="about-with-design">
                <p class="white subtitle-small">
                    a. Provides the community of high-level professionals in the areas of Engineering

                </p>
                <p class="white subtitle-small">
                    b. Produce graduates with professional ethics who can be leaders and innovators in the field of
                    Engineering.

                </p>
                <p class="white subtitle-small">
                    c. Deliver knowledge and skills of academic excellence towards life-long employability

                </p>

                <p class="white subtitle-small">
                    d. Transfer technology through and with the Center of Research and Development, Center for Community
                    Extension and Office of Student Development and Services
                </p>
            </div>

        </div>
        <div class="about-vision">
            <h1 class="subtitle-large orange bold">Vision</h1>
            <p class="white subtitle-small a-pad"> The College of Engineering is a Center of Development that is
                glocally competitive engineering center in Calabarzon.
            </p>
        </div>
        <div class="about-mission">
            <h1 class="subtitle-large orange bold">Mision</h1>
            <p class="white subtitle-small a-pad"> electrical, electronics, and civil equipped with relevant balanced
                training and integrates engineering research with strong Filipino values for long-term employability,
                contributing to the country’s development goals and global economy.</p>
        </div>
        <div class="about-core-values">
            <h1 class="subtitle-large orange bold">Values</h1>

            <div class="core-values-container">
                <div class="core-values-title">
                    <h2 class="subtitle-large white bold">Competence
                    </h2>
                    <!-- <p class="white subtitle-small a-pad"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium</p> -->
                </div>
                <div class="core-values-title">
                    <h2 class="subtitle-large white bold">Obedience</h2>
                    <!-- <p class="white subtitle-small a-pad"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium</p> -->
                </div>
                <div class="core-values-title">
                    <h2 class="subtitle-large white bold">Excellence</h2>
                    <!-- <p class="white subtitle-small a-pad"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium</p> -->
                </div>
                <!-- <div class="core-values-title">
                    <h2 class="title-small orange bold">CONTENT</h2> -->
                    <!-- <p class="white subtitle-small a-pad"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% include "base/footer.html" %}
{% endblock content %}