{% extends 'main.html' %}

{%block content%}
<div class="admission-overall-container">
    <div class="admission-title-container">
        <h1 class="title darkblue">COLLEGE OF ENGINEERING</h1>
        <h2 class="title-small orange">STUDENT ADMISSIONS</h2>
    </div>
    <div class="admission-content-container">
        <div class="admission-introduction add-item">
            <h1 class="subtitle-large orange bold">Admission and Retention</h1>
            <p class="white subtitle-small a-pad">SECTION 1. Academic Performance - All students are expected to study
                diligently and maintain
                high academic performance. Each college must publish an honor roll at the end of each term.
                Any student who transfers to another degree program shall not be denied academic honors for
                which he is qualified under the provisions of this Code on Academic Honors.
                A disqualified student may be allowed to shift to another program at the start of any semester.
                A student may shift from one course to another as often as desired; provided he completes the
                course within the maximum residency period equivalent to the normal period fixed to the
                curriculum to complete the course, plus a grace period of one year</p>
        </div>
        <div class="admission-available-program add-item">
            <h1 class="subtitle-large orange bold">Available Degree Programs</h1>
            <p class="white subtitle-small a-pad">Bachelor of Science in Computer Engineering</p>
        </div>
        <div class="admission-requirements add-item">
            <h1 class="subtitle-large orange bold">Grade Requirements</h1>
            <p class="white subtitle-small a-pad">Student applicants shall
                have obtained in Senior
                High a general weighted
                average of 85%% or its
                equivalent
            </p>
            <p class="white subtitle-small a-pad">Shall have obtained the
                following rating for each
                subject:
                <br>
                Mathematics – 85
                <br>
                Science – 85
                <br>
                English – 85</p>
            <p class="white subtitle-small a-pad">Physically and
                psychologically fit</p>
            <p class="white subtitle-small a-pad">Shall have a rating of 85%
                from the combined General
                Weighted Average (GWA)
                from Senior High and result
                of Entrance Exam with the
                following percentage:
                GWA 40%
                Entrance Exam 60%</p>
                <hr>
                <h1 class="subtitle-large orange bold">Retention Policies</h1>
            <p class="white subtitle-small a-pad">Maintaining General
                Weighted Average
                (GWA) for Major
                Courses for each
                semester must be 2.25
                or higher</p>
            <p class="white subtitle-small a-pad">Must pass the
                Qualifying Exam at
                the end of 2nd
                Semester of 1st Year
                Students with the
                following subject:
                <br>
                Mathematics – 50%
                <br>
                Programming:
                Written Exam 25%
                 Practical Exam 25%</p>
            <p class="white subtitle-small a-pad">• Failure to Qualifying
                Exam is ground for
                disqualification to the
                program and student
                will be advised to shift
                to another program
                </p>
            <p class="white subtitle-small a-pad">• First offense on the
                maintaining GWA will
                receive Academic
                Warning**
                </p>
            <p class="white subtitle-small a-pad">Two consecutive
                semesters of not
                reaching the GWA
                requirement is ground
                for disqualification on the program and
                student will be advised
                to shift to another
                program**
                ** Applicable only to 1st
                Year to 2nd Year Students</p>
            <p class="white subtitle-small a-pad">Third Year students
                who fail to reach the
                GWA requirement will
                have a choice of
                Academic Deloading
                (Only 75% of the
                courses for the
                semester will be
                allowed to enroll) or
                shift to another
                program</p>

        </div>
    </div>
</div>

{% include "base/footer.html" %}
{%endblock%}