{% extends 'main.html' %}

{% block content %}
    <div class="help">
        <!-- <h1>
            Help & Documentation
        </h1> -->
        <div class="glitch-wrapper">
            <div class="glitch" data-glitch="Help & Documentation">
                Help & Documentation
            </div>
        </div>
        <div class="helpinfo">
            <!-- <div class="infoall">
                <div class="infotext">
                    <h2>Home</h2>
                </div>
                <div class="infopara right">
                    <div class="infoimg">
                        <img class="imgall" src="file:///C:/Users/Zaldy/Desktop/project%20practice/background-image/End/home.png" alt="HOME">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="infoall ">
                <div class="infotext">
                    <h2>Announcement & News</h2>
                </div>
                <div class="infopara left">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="infoimg">
                        <img class="imgall" src="file:///C:/Users/Zaldy/Desktop/project%20practice/background-image/End/megaphone.png" alt="MEGAPHONE">
                    </div>
                </div>
            </div> -->
            <div class="infoall ">
                <div class="infotext">
                    <h2>How to create a new account?</h2>
                </div>
                <div class="infopara right">
                    <p>
                        Creating an account for a forum is a simple process that usually involves the following steps:<br><br>
                        1.      Navigate to the forum's website and look for a link or button that says "Sign Up" or "Create an Account." This is usually located in the top menu or in the footer of the website.<br><br>
                        2.      Click on the link or button and you will be taken to a form where you can enter your personal details and create a username and password.<br><br>
                        3.      Fill in the form with your name, email address, and other required information. Choose a username and password that you will remember, as you will need these to log in to your account in the future.<br><br>
                        4.      Once you have filled out the form, click the "Sign Up" or "Create Account" button to submit your information.<br><br>
                        5.      Check your email for a message from the forum with a confirmation link. Follow the link to confirm your account and activate it.<br><br>
                        6.      Once your account is activated, you can log in to the forum using your username and password.<br><br>
                        Remember to keep your login information safe and secure, and be sure to follow the forum's terms of service and community guidelines.<br><br>
                    </p>
                </div>
            </div>
            <div class="infoall ">
                <div class="infotext">
                    <h2>How to create/join a room/discussion?</h2>
                </div>
                <div class="infopara left">
                    <p>
                        Joining a discussion room on a forum is a simple process that usually involves the following steps:<br><br>
                        1.      Navigate the forum on the navigation bar and log in to your account if you are not already logged in.<br><br>
                        2.      Look for a link or button that says "Discussions" or "Forums." This is usually located in the top menu or on the homepage of the website.<br><br>
                        3.      Click on the link or button and you will be taken to a list of available discussion rooms or forums.<br><br>
                        4.      Browse through the list and find the discussion room or forum that you want to join.<br><br>
                        5.      Click on the name of the discussion room or forum to access it.<br><br>
                        6.      Once you are inside the discussion room or forum, you can participate in the conversation by posting a new topic or by commenting on an existing topic.<br><br>
                        Remember to follow the forum's terms of service and community guidelines while participating in discussions.<br><br>
                    </p>
                </div>
            </div>
            <!-- <div class="infoall">
                <div class="infoimg">
                    <img class="imgall" src="file:///C:/Users/Zaldy/Desktop/project%20practice/background-image/End/join.png" alt="Join">
                </div>
                <div class="infotext">
                    <h2>How to Join a Existing Room Discussion?</h2>
                </div>
                <div class="infopara">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div> -->
        </div>
    </div>
    {% include "base/footer.html" %}
    {%endblock%}